# Build
bin/
obj/
*.exe
*.dll
*.pdb
*.nupkg
Fylo-Setup.exe

# IDE & Editors
.vs/
.idea/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
*.DotSettings*
_ReSharper*/
*.sln.iml
*.snk
*.pfx

# Tests
[Tt]est[Rr]esult*/
*.trx

# OS
Thumbs.db
.DS_Store
Desktop.ini

# Logs
*.log
